* {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    box-sizing: border-box;
}

header {
	width: 100%;
	height: 75px;
	
    background-color:white;
    color:black;
	
	margin-bottom:0px;
	
	box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.15);
}
nav {
    line-height:30px;
    background-color:white;
    min-height:300px;
    width:200px;
    float:left;
	
	padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	
	margin-bottom:25px;
	
	box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.15);
}
section {
    padding:0px; 
	
	max-width: 880px;
	
	margin-left:230px;
	margin-bottom:50px;
	margin-right:0px;
	
    background-color:white;
	
	box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.15);
}

footer {
	width: 100%;
    background-color:white;
    color:black;
    clear:both;
    text-align:center;
    /*padding:5px; */
	
	box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.15);
}

body {
    background-color: #F2F2F2;
}

/* the top navagation bar */
#navbar {
	display: -webkit-flex;
	display: flex;    
	
	height:20px;
	
	margin-top:0px;
	margin-bottom:10px;
	
	padding:0px;
    border: 1px solid #C6C6C6; 
	
	box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.05);
}
#navbar_item {
	-webkit-flex: 1;
			flex: 1;
			
	text-align: center;
	list-style-type: none;
	text-transform: uppercase;
	line-height: 100%;
	
    background: linear-gradient(#C6C6C6, #FDFDFD);
}
#navbar_item:hover{
	cursor:pointer;
	line-height: 130%;
	background: linear-gradient(#FDFDFD, #C6C6C6);
}

/* the left bar posts */
#postList {
	margin: 5px;
	padding: 0px;
	line-height: 15px;
}
#postLink {
	font-size: 14px;
	padding-top: 0px;
}
#postDate {
	font-size: 10px;
	color: grey;
	margin-top: 0px;
	margin-bottom: 0px;
	float: right;
}

.center {
	padding: 0px;
    margin: auto;
	width: 1110px;
}

#code {

}