:root {
    /*--main-background-color: #DFE5E8; */
    --variable-background-color: #F5F7F8; 
    --variable-navBac-color: #282828; 
    --variable-navSel-color: #BEBEBE; 
    --variable-navText-color: white; 
    --variable-navBorder-color: #bbb; 
}


body {
	display: flex;
	flex-direction: row;
	
    margin-top: 0px;
    margin-right: 10%;
    margin-left: 10%;
	background-color: var(--variable-background-color); /*#E9EBEE;*/
	
	min-width: 560px;
}


.mainLeft {
	display: flex;
	flex-direction: column;
	
    /*margin-left: 270px;*/
}
.mainRight {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	margin-top: 25px;
	margin-bottom: 0;
    margin-left: 25px;
	margin-right: 0px;
	/*background-color: white;*/
}

/* ------------------------ */
.picture {
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
	
	width:250px;
	height:250px;
	
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact {
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
	
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
	
	width:240px;
	
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 275px;
	
	background-color: white;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact p {
    margin: 0;
    padding: 0;
	
	text-decoration: none;
	
	font-family: Monospace;
	font-size: 15px;
}

/* ------------------------ */
.topBar {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	
	overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topBarName {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 10px;
	
	/*text-align: center;*/
	font-family: Monospace;
	font-size: 50px;
	height: 75px;
}
.topBarNavBar {
	height: 46px;
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--variable-navBac-color); /*#333;*/
}
.topBarNavBar li {
	float: left;
	border-right: 1px solid var(--variable-navBorder-color);
}
.topBarNavBar li a {
    display: block;
    color: var(--variable-navText-color); /*white;*/
	text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topBarNavBar li a:hover {
    background-color: var(--variable-navSel-color); /*#111;*/
}


/* ------------------------ */
.content {
	margin-top: 0px;
	
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0px;
	padding-left: 0px;
/* 
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */
}
.content_block {
	/* top right bottom left*/
	margin: 20px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentTitle {
	margin: 0;
    text-align: center;
	font-family: Monospace;
	font-size: 25px;
	height: 30px;
	padding-top: 14px;
	/* border-top: 1px solid #333;*/
	border-bottom: 1px solid #333;
}


/* ------------------------ */
.subBlock {
	border-left: 1px solid #bbb;
}

.subBlock_title {
	border-bottom: 1px solid #bbb;
	margin-top: 25px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.subBlock_title_left {
	width: 100%;
	
	/* top right bottom left*/
	margin:  0px 0px 0px  0px;
	padding: 0px 0px 0px 10px;
	
	font-family: Monospace;
	font-size: 20px;
}
.subBlock_title_center {
	width: 100%;
	
	/* top right bottom left*/
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	
	text-align: center;
	
	font-family: Monospace;
	font-size: 20px;
}
.subBlock_title_right {
	width: 100%;
	
	/* top right bottom left*/
	margin:   0px 0px 0px  0px;
	padding: 0px 10px 0px 10px;
	
	text-align: right;
	
	font-family: Monospace;
	font-size: 20px;
}

.subBlock_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.subBlock_content_left {
	width: 100%;
	align-self: flex-start;
	
	/* top right bottom left*/
	margin:   0px  0px  0px  0px;
	padding: 10px 10px 10px 10px;
	
	font-family: Monospace;
	font-size: 15px;
}
.subBlock_content_center {
	width: 100%;
	align-self: flex-start;
	
	/* top right bottom left*/
	margin:   0px  0px  0px  0px;
	padding: 10px 10px 10px 10px;
	
	text-align: center;
	
	font-family: Monospace;
	font-size: 15px;
}
.subBlock_content_right {
	width: 100%;
	align-self: flex-start;
	
	/* top right bottom left*/
	margin:   0px  0px  0px  0px;
	padding: 10px 10px 10px 10px;
	
	text-align: right;
	
	font-family: Monospace;
	font-size: 15px;
}

.subBlock_content_links {
	width: 100px;
	border-right: 1px solid #bbb;
	align-self: flex-start;
	
	/* top right bottom left*/
	margin:   0px  0px  0px  0px;
	padding: 10px 10px 10px 10px;
	
	font-family: Monospace;
	font-size: 15px;
}



/* ------------------------ */
.about {
	font-family: Monospace;
	font-size: 15px;
}






/* Change some stuff for small screens */
@media screen and (max-width: 900px) {
	body { 
		flex-direction: column;   
		margin-right: 0;
		margin-left: 0; 
	}
	.mainRight {
		margin-left: 0; 
	}
	.mainLeft {
		flex-direction: row;
	}
}







